{% extends "base.html" %}

{% load static %}

{% block content %}
<div class="text-center fs-2">
    Governed  <b class="txt-mycolor">  <u>Big Mall Company </u></b>
</div>




<table style="border: 1px solid black; margin-bottom: 20px; margin-left: 250px; margin-right: 100px; margin-top: 40PX;">

<tr><td style="font-size: 20px; padding: 10px; ">
 Big Mall is a E-commerce Management System and hence these below menttioned terms and condition for the usages of the e-commerce are  Governed by Big Mall campany.
 <br/> <br/>

</td></tr>
<tr>
 <th class="b" style="border: 1px solid black; background-color: black;"></th>

</tr>
<tr><td style="font-size: 20px; padding: 10px; ">
    Your information such as Name , Email ,contact number and more that you provide to us while Registering , enquiring or any other such process is saved by us for a future 
    usages such as a information providing for future to contact us and give the information.
    <br/> <br/>
   
   </td></tr>
   <tr>
    <th class="b" style="border: 1px solid black; background-color: black;"></th>
   
   </tr>
   <tr><td style="font-size: 20px; padding: 10px; ">
    Big Mall is a E-commerce Management System and hence these below menttioned terms and condition for the usages of the e-commerce are  Governed by Big Mall campany.
    <br/> <br/>
   
   </td></tr>
   <tr>
    <th class="b" style="border: 1px solid black; background-color: black;"></th>
   
   </tr>
   <tr><td style="font-size: 20px; padding: 10px; ">
    All the information that we provide to you is Related to offers and deals and etc are strictly for your personal uses and are not meet to be share with anyone else.

    <br/> <br/>
   
   </td></tr>
   <tr>
    <th class="b" style="border: 1px solid black; background-color: black;"></th>
   
   </tr><tr><td style="font-size: 20px; padding: 10px; ">
   
 Link sharing of the website your login credential with anyone is against our  privacy policy and will fail into cybercrime fishing and will be facing a strict action. 

    <br/> <br/>
   
   </td></tr>
   
</table>
{% endblock %}